<p>Hi {{name}},</p>

<p>You have requested to {{action}}.</p>

<p>Your OTP code is:</p>

<h2>{{token}}</h2>

<p>This code will expire shortly. Please use it immediately.</p>

<p>Best regards,<br>
The Enerlink Team</p>
